In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("./Tamil songs Dataset/archive/tamilSongsLyrics - tamilSongsLyrics.csv")

In [3]:
df.head()

,Sno,Song Name,Movie Name,Lyrics
0,1,விளையாடா படகோட்டி,Dhoni,விளையாட்டா படகோட்டி\nவிளையாடும் பருவம் போய்\nந...
1,2,நான் யார் நீ யார்,Kudiyirundha Koyil,நான் யார் நான் யார் நீ யார்\nநாலும் தெரிந்தவர்...
2,3,கூட்டத்துலே கோவில்,Idaya Kovil,கூட்டத்துலே கோவில் புறா யாரை இங்கு தேடுதம்மா\n...
3,4,காதல் கசாட்டா,Kappal,காதல் கசாட்டா நெஞ்சில் இனிக்கூட\nபசுந்தி பார்வ...
4,5,கண்ணுக்கு குலமேது,Karnan,கண்ணுக்கு குலமேது...\n\nகண்ணுக்கு குலமேது \nகண...

In [4]:
df.shape

(4216, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4216 entries, 0 to 4215
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sno         4216 non-null   int64
 1   Song Name   4216 non-null   object
 2   Movie Name  4216 non-null   object
 3   Lyrics      4216 non-null   object
dtypes: int64(1), object(3)
memory usage: 131.9+ KB

In [7]:
df = df.drop("Sno",axis = 1).reset_index(drop = True)

In [8]:
df.head()

,Song Name,Movie Name,Lyrics
0,விளையாடா படகோட்டி,Dhoni,விளையாட்டா படகோட்டி\nவிளையாடும் பருவம் போய்\nந...
1,நான் யார் நீ யார்,Kudiyirundha Koyil,நான் யார் நான் யார் நீ யார்\nநாலும் தெரிந்தவர்...
2,கூட்டத்துலே கோவில்,Idaya Kovil,கூட்டத்துலே கோவில் புறா யாரை இங்கு தேடுதம்மா\n...
3,காதல் கசாட்டா,Kappal,காதல் கசாட்டா நெஞ்சில் இனிக்கூட\nபசுந்தி பார்வ...
4,கண்ணுக்கு குலமேது,Karnan,கண்ணுக்கு குலமேது...\n\nகண்ணுக்கு குலமேது \nகண...

In [12]:
df['Song Name'][0]

'விளையாடா படகோட்டி'

In [14]:
df['Lyrics'][0]

1230

In [17]:
df["Lyrics"] = df['Lyrics'].str.lower().replace(r'\n'," ",regex = True)

In [18]:
df["Lyrics"][0]

'விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்.  விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்.  கரை காணா கடல் மேலே நீயும் நானும் தடுமாறும் ஓடம் போல் தாவிப்பார்த்தோம் என்னானாலும் ஏற்பதுதான் வாழ்க்கையம்மா  விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்.  தத்தி தத்தி நீரில் ஆடி சுத்தி சுத்தி சுழலும் போதும் அக்கரைக்கு போகத்தானே அல்லாடும் எத்தனையோ புயலும் கண்டு கொட்டும் மழையில் பொறுமையும் கொண்டு தொலை தூரம் சேரத்தானே தள்ளாடும் தன்னோட வழி எல்லாம் தன்னைத்தவிர துணையுண்டா திசையெல்லாம் வழியாகும் ஒருவழிதான் உனக்காகும் எப்போது கரையைச்சேரும் ஓடம் ஓடம்?  விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்.  கட்டுமரம் என்றால் என்ன வெட்டுப்பட்ட மரங்கள்தானே கஷ்டப்படும் நீயும் நானும் அது போலே பட்டபாடு அலைகள் போலே விட்டு விட்டு மோதிப்பார்க்கும் எட்டி நிற்கத் திரும்பத்திரும்ப விளையாடும் கடலிருந்தும் கட்டுமரம் ஆழத்தை அறியாது கடல்சேரும் நதியெல்லாம் திரும்பித்தான் போகாது முடிவில்லா முடிவுக்கேது முடிவு முடிவு?  விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம். கரை காணா கடல் மேலே நீயும் நானும் தடுமாறும் ஓடம் போல் தாவிப்பார்த்தோம் என்னானாலும் ஏற்பதுதான் வாழ்க்கையம்மா விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்'

In [19]:
import string
def punctuation_remove(text_data):
    return "".join([t for t in text_data if t not in string.punctuation])

In [20]:
df['Lyrics'] = df['Lyrics'].apply(lambda x: punctuation_remove(x))

In [21]:
df['Lyrics'][0]

'விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்  விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்  கரை காணா கடல் மேலே நீயும் நானும் தடுமாறும் ஓடம் போல் தாவிப்பார்த்தோம் என்னானாலும் ஏற்பதுதான் வாழ்க்கையம்மா  விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்  தத்தி தத்தி நீரில் ஆடி சுத்தி சுத்தி சுழலும் போதும் அக்கரைக்கு போகத்தானே அல்லாடும் எத்தனையோ புயலும் கண்டு கொட்டும் மழையில் பொறுமையும் கொண்டு தொலை தூரம் சேரத்தானே தள்ளாடும் தன்னோட வழி எல்லாம் தன்னைத்தவிர துணையுண்டா திசையெல்லாம் வழியாகும் ஒருவழிதான் உனக்காகும் எப்போது கரையைச்சேரும் ஓடம் ஓடம்  விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்  கட்டுமரம் என்றால் என்ன வெட்டுப்பட்ட மரங்கள்தானே கஷ்டப்படும் நீயும் நானும் அது போலே பட்டபாடு அலைகள் போலே விட்டு விட்டு மோதிப்பார்க்கும் எட்டி நிற்கத் திரும்பத்திரும்ப விளையாடும் கடலிருந்தும் கட்டுமரம் ஆழத்தை அறியாது கடல்சேரும் நதியெல்லாம் திரும்பித்தான் போகாது முடிவில்லா முடிவுக்கேது முடிவு முடிவு  விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம் கரை காணா கடல் மேலே நீயும் நானும் தடுமாறும் ஓடம் போல் தாவிப்பார்த்தோம் என்னானாலும் ஏற்பதுதான் வாழ்க்கையம்மா விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் போல் நாமானோம்'

In [37]:
import nltk
from nltk.stem.porter import PorterStemmer

In [33]:
with open("Tamil_stop_words.txt", "r", encoding="utf-8") as file:
    stop_words = [line.strip() for line in file]

In [34]:
def remove_stop_words(text):
    words = text.split()
    filtered_words = [word for word in words if word not in stop_words]
    return ' '.join(filtered_words)

In [35]:
df['Lyrics'] = df['Lyrics'].apply(remove_stop_words)

In [36]:
df["Lyrics"][0]

'விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் நாமானோம் விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் நாமானோம் கரை காணா கடல் மேலே நீயும் நானும் தடுமாறும் ஓடம் தாவிப்பார்த்தோம் என்னானாலும் ஏற்பதுதான் வாழ்க்கையம்மா விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் நாமானோம் தத்தி தத்தி நீரில் ஆடி சுத்தி சுத்தி சுழலும் போதும் அக்கரைக்கு போகத்தானே அல்லாடும் எத்தனையோ புயலும் கண்டு கொட்டும் மழையில் பொறுமையும் தொலை தூரம் சேரத்தானே தள்ளாடும் தன்னோட வழி தன்னைத்தவிர துணையுண்டா திசையெல்லாம் வழியாகும் ஒருவழிதான் உனக்காகும் எப்போது கரையைச்சேரும் ஓடம் ஓடம் விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் நாமானோம் கட்டுமரம் என்றால் வெட்டுப்பட்ட மரங்கள்தானே கஷ்டப்படும் நீயும் நானும் போலே பட்டபாடு அலைகள் போலே மோதிப்பார்க்கும் எட்டி நிற்கத் திரும்பத்திரும்ப விளையாடும் கடலிருந்தும் கட்டுமரம் ஆழத்தை அறியாது கடல்சேரும் நதியெல்லாம் திரும்பித்தான் போகாது முடிவில்லா முடிவுக்கேது முடிவு முடிவு விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் நாமானோம் கரை காணா கடல் மேலே நீயும் நானும் தடுமாறும் ஓடம் தாவிப்பார்த்தோம் என்னானாலும் ஏற்பதுதான் வாழ்க்கையம்மா விளையாட்டா படகோட்டி விளையாடும் பருவம் போய் நெசமான ஓடம் நாமானோம்'

In [38]:
ps = PorterStemmer()

In [40]:
def tokenizer(text):
    tokens = nltk.word_tokenize(text)
    stemming = [ps.stem(w) for w in tokens]
    return " ".join(stemming)

In [41]:
df["Lyrics"] = df["Lyrics"].apply(lambda x : tokenizer(x))

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
tfidf = TfidfVectorizer()

In [49]:
matrix = tfidf.fit_transform(df["Lyrics"])

In [50]:
matrix.shape

(4216, 5972)

In [52]:
similarity = cosine_similarity(matrix)

In [53]:
similarity

array([[1.        , 0.04500719, 0.02129837, ..., 0.01984492, 0.04509234,
        0.03709544],
       [0.04500719, 1.        , 0.05733862, ..., 0.01259327, 0.07303674,
        0.20434495],
       [0.02129837, 0.05733862, 1.        , ..., 0.02670081, 0.01694079,
        0.02395452],
       ...,
       [0.01984492, 0.01259327, 0.02670081, ..., 1.        , 0.03188218,
        0.01708777],
       [0.04509234, 0.07303674, 0.01694079, ..., 0.03188218, 1.        ,
        0.082157  ],
       [0.03709544, 0.20434495, 0.02395452, ..., 0.01708777, 0.082157  ,
        1.        ]])

In [64]:
df["Song Name"][76]

'உலகே மாயம்'